.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 90px;
}
#nav-links a{
    text-decoration: none;
    color: #FFFF;
    margin-left: 32px;
}
#nav-links a:hover{
    color: orange;
}